name: update-templates

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */8 * * *'

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write

jobs:
  update-templates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cleanup Logs
        run: |
          DATE=$(date -u +"%b %d %H:%M UTC %y")
          EMOJIS=("游댮" "游" "游리" "游릭" "游댯" "游릮" "游릯")
          DAY_OF_WEEK=$(date -u +"%w")
          EMOJI=${EMOJIS[$DAY_OF_WEEK]}
          rm -rf ./.github/failed.txt
          # replace "$TEMP_DIR" with " . " in all scripts
          for script in ./.github/.scripts/*.sh; do
            sed -i "s/ \$TEMP_DIR/ \./g" "$script"
            echo "Cleanup $script"
          done
          git add .
          git commit -m "$EMOJI $DATE" || true
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Execute and Commit Scripts
      #   run: |
      #     set -e
      #     DATE=$(date -u +"%b %d %H:%M UTC %y")
      #     EMOJIS=("游댮" "游" "游리" "游릭" "游댯" "游릮" "游릯")
      #     DAY_OF_WEEK=$(date -u +"%w")
      #     EMOJI=${EMOJIS[$DAY_OF_WEEK]}

      #     for script in ./.github/.scripts/*.sh; do
      #       echo -e "\033[33m--------------------------------------------------\033[0m"
      #       echo -e "\033[33m$script\033[0m"
      #       echo -e "\033[33m--------------------------------------------------\033[0m"

      #       SCRIPT_NAME=$(basename "$script" .sh)
      #       BRANCH_NAME="template-$SCRIPT_NAME"
      #       TEMP_DIR="$BRANCH_NAME"

      #       git checkout -b "$BRANCH_NAME"

      #       if TEMP_DIR="$TEMP_DIR" bash "$script"; then
      #         mkdir -p "./${SCRIPT_NAME%%-*}/$SCRIPT_NAME/"
      #         rsync -a --delete --exclude=".git" "$TEMP_DIR/" "./${SCRIPT_NAME%%-*}/$SCRIPT_NAME/"
      #         rm -rf "$TEMP_DIR"
      #         git checkout main
      #         git merge "$BRANCH_NAME"
      #         git branch -d "$BRANCH_NAME"
      #         echo "Committing changes for $script"
      #         git add .
      #         git commit -m "$EMOJI $DATE" || true
      #       else
      #         echo -e "\033[31mFailed $script\033[0m"
      #         git reset --hard
      #         git clean -fdx
      #         git checkout main
      #         git branch -D "$BRANCH_NAME"
      #         echo "$script" >> ./.github/failed.txt
      #         git add ./.github/failed.txt
      #         git commit -m "$EMOJI $DATE"
      #       fi
      #     done

      #     sed -i "3s/.*/> $EMOJI Last updated: $DATE/" ./.github/README.md
      #     git add ./.github/README.md
      #     git commit -m "$EMOJI $DATE"

      - name: Push Changes
        run: git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
